################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ReactTypescript/bin/Debug
/src/ReactTypescript/obj/Debug
/src/ReactTypescript/node_modules
/src/ReactTypescript/wwwroot/dist
/src/ReactTypescript/wwwroot/app/bundle.js.map
/src/ReactTypescript/wwwroot/app/bundle.js
